/* 図鑑カード */
#card-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #ffe179;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(130px, auto));
    gap: 10px;
    
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    border: solid 2px #fff;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card h3 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #333;
}

.card p {
    margin: 0;
}

/* カードの色 */
.card-color-pink{
    background-color: rgb(255, 219, 225);
}
.card-color-orange{
    background-color: rgb(251, 197, 95);
}
.card-color-gray{
    background-color: rgb(213, 213, 213);
}
.card-color-hatena{
    background-color: #f2f2f2;
}