body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* 上部セクション*/
#top-section {
    background-image: url("../UI_images/haikei.jpg");
    background-repeat: repeat;
    background-size: 50%;
}

#BGrgba{
    height: 100%;
    background: rgba(255,255,255, 0.5);
}

/* ヘッダー */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header h1 {/*「食べもの図鑑」の部分*/
    font-size: 30px;
    font-weight: bold;
    color: #3f7132;
    text-shadow: 2px 2px 0 #fff,-2px -2px 0 #fff,-2px 2px 0 #fff,  2px -2px 0 #fff,
    2px 0 0 #fff, -2px  0 0 #fff,
    0 2px 0 #fff,  0 -2px 0 #fff;
    /*
    padding: 0 10px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    border: solid 2px #d27d00;
    padding: 5px 10px;
    */
}

header a {/*「ホームへ」ボタン*/
    color: #3f7132;
    background: #ffe179;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #fff;
    padding: 5px 10px;
}

/* キャラクター詳細 */
#character-details {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
}

#character-image img {
    width: 100%;
    max-width: 150px;
}

#character-info {
    flex: 1;
    padding: 0 20px;
    text-align: center;
    background-color: #ffe179;
    border-radius: 25px;
    color: white;
    text-shadow: 1px 1px 3px rgba(78, 41, 2, 0.7);
    padding: 10px;
}

#character-info h2 {
    margin: 0;
    font-size: 20px;
}

#character-info p {
    font-size: 14px;
    margin-top: 10px;
}


/* 下部セクション */
#card-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #ffe179;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(130px, auto));
    gap: 10px;
    
}
